.wrapper{
    color: white;
    font-family: 'proxima nova';
    padding-top: 10vh;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    display: inline;
    width: 40vw;
    vertical-align: top;
}

.video{
    display: inline;
}