.container {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background-color: black;
    font-family: 'proxima nova';
}

.header-container{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 5em 0 1em 0;
}

.header{
    color: white;
    margin: 1.5em 0 2.5em 0;
}

.centered {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.post-container{
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container-one{
    display: flex;
    flex-direction: column;
}

.container-two{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px){
    .post-container{
        flex-direction: column;
    }
    
}

@media screen and (max-width: 480px){
    .post-container{
        width: 95vw;
        align-items: center;
    }
    
    .container-one{
        justify-content: center;
    }
    .container-two{
        justify-content: center;
    }
}