.img-container{
    display: inline-block;
    vertical-align: top;
    margin: 0 2vw;
}

.content{
    display: inline-block;
    width: 40vw;
}

.wrapper{
    color: white;
    font-family: 'proxima nova';
    margin-bottom: 10vh;
}

.title{
    margin: 0;
}

.subtitle{
    margin-top: 10px;
}

.link{
    color: #4990E2;
}