.img-container{
    display: inline-block;
    vertical-align: top;
    margin: 0 2vw;
}

.content{
    display: inline-block;
    width: 40vw;
    line-height: 1.8em;
}

.image{
    width: 447px;
    height: 241px;
}

.rightContent{
    display: inline-block;
    width: 40vw;
    text-align: right;
    line-height: 1.8em;
}

.wrapper{
    color: white;
    font-family: 'proxima nova';
    margin-bottom: 10vh;
}

.title{
    margin: 0;
}

.subtitle{
    margin-top: 10px;
}

.link{
    color: #4990E2;
}

@media screen and (max-width: 480px){
    .content{
        display: block;
        width: 313px;
        text-align: left;
    }

    .img-container{
        display: block;
    }

    .image{
        width: 313;
        height: 169px;
    }

    .description{
       text-align: justify;
       text-justify: inter-word;
    }

   .wrapper{
        margin-bottom: 12vh;
    }

    .img-container{
        margin-bottom: 2vh;
    }

    .content-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
