.container{
    background-color: #000000;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    overflow-x: hidden!important;
    font-family: 'proxima nova';
    font-weight: 100;
}


.description-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description-text {
    color: white;
    width: 50vw;
    font-size: 1.2em;
    line-height: 1.8em;
    font-family: 'proxima nova thin';
    text-align: justify;
    text-justify: inter-word;
}

.description-text::selection{
    background: #4990E2;
}

.description-header {
    color: white;
    margin: 3em 0 0.5em 0;
}
.description-header::selection{
    background: #4990E2;
}

.description-image {
    margin: 0 0 1em 0;
}

.link {
    text-decoration: none;
    color: #4990E2;
}

.link::selection{
    background: #4990E2;
    color: yellow;
}

@media screen and (max-width: 480px){
    .description-text{
        width: 90vw;
    }

    .description-header{
        margin: 1em 0 1em 0;
    }
}