.container {
    font-family: 'proxima nova';
    width: 100vw;
}

.nav-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2em 0;
    width: 80vw;
}

.nav-item {
    color: #ffffff;
    margin-right: 3em;
    margin-bottom: 1em;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover{
    color: #cccccc;
}

@media screen and (max-width: 480px){
    .nav-item {
        margin-right: 1em;
    }

}