.header {
  text-align: center;
}
.container {
  font-family: "proxima nova";
  max-width: 80vw;
  margin: auto;
}

.nav-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2em 0;
  justify-content: space-between;
  padding-left: 0;
}

.nav-item {
  color: #ffffff;
  margin-right: 3em;
  margin-bottom: 1em;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: #cccccc;
}

.hamburger {
  display: none;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
  position: relative;
  z-index: 100;
}

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}
.hamburger-inner:after,
.hamburger-inner:before {
  display: block;
  content: "";
}
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger-inner {
  position: absolute;
  width: 40px;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: #fff;
}

.hamburger-inner {
  top: 2px;
  transition: background-color 0s linear 0.13s;
}

.hamburger-inner:before {
  top: 10px;
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s,
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger-inner:after {
  top: 20px;
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s,
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

@media screen and (max-width: 767px) {
  .header {
    text-align: left;
  }
  .hamburger {
    display: inline-block;
  }
  .nav-item {
    margin-right: 1em;
  }
  .container {
    position: absolute;
    background: #6c6c6c;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    z-index: 9;
    padding: 2em 1em;
  }
  .nav-container {
    flex-direction: column;
  }
}
