.container{
    margin-bottom: 4em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'proxima nova';
    font-weight: 100;
}

.img-container{
    display: inline-block;
    vertical-align: top;
}

.wrapper{
    margin-left: 2em;
    display: inline-block;
    width: 40vw;
}

.tech-item {
    color: white;
    margin-top: 10px;
    color: #aaaaaa;
}

.link {
    color:#4990E2;
    text-decoration: none;
    margin-bottom: 4em;
}

.title { 
    color: white;
    margin: 0;
    margin-bottom: 4px;
}

.description{
    color: white;
    width: 40vw;
    line-height: 2em;
}

.list{
    width: 60vw;
}

@media screen and (max-width: 480px){
    .container{
        margin-bottom: 7em;
        display: block;
    }
    
    .img-container{
        margin-left: 9vw; 
        margin-bottom: 1em;
    }
    .description{
        width: 80vw;
        margin-left: 9vw;
    }

    .link{
        margin-left: 9vw;
    }

    .title{
        margin-bottom: 10px;
        margin-left: 9vw;
    }
    
    .wrapper {
        width: 100vw;
        margin: 0;
    }

    .list{
        margin-left: 3vw;
    }
}